@model PedidosWeb.Models.Admin.Produto
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Produto</title>
</head>
<body>
    <div class="container"> 
        <h1>Teste</h1>
    </div>
</body>
</html>
