body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */


.alert {
    min-height: 0;
    min-width: 500px;
    text-align: left;
    z-index: 1000;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/* EFEITO LOADING*/

.loading-panel {
    background: rgba(0, 0, 0, 0.2) none repeat scroll 0 0;
    position: relative;
    width: 100%;
}

.loading-container {
    background: rgba(224, 224, 224, 0.4) none repeat scroll 0 0;
    color: #fff;
    font-size: 90px;
    height: 100%;
    left: 0;
    padding-top: 15%;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 999999;
}
/* FIM EFEITO LOADING */

.links-autocomplete
{
    margin-top: 5px;

}

.links-autocomplete:hover
{
    cursor: pointer;
}

.logo {
    width: 200px;
    height: 100px;
}
