@{
    ViewBag.Title = "ItensPedido";
}

<div class="row">
    <div class="col-md-12">
        <button id="btnModalPedidoItem" class="btn btn-success pull-right" type="button"><i class="glyphicon glyphicon-plus"></i> Inserir produto</button>
    </div>
</div>
<br />

<div class="modal" id="modalPedidoItem">

</div>

<div class="panel panel-default">
    <div class="panel-heading">Produtos</div>
    <div class="panel-body">        
        <table class="table">
            <thead>
                <tr>
                    <th>Produto</th>
                    <th>Quantidade</th>
                    <th>Preço</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

@Scripts.Render("~/Scripts/Views/ItensPedido/ItensPedido.js")
