@Scripts.Render("~/bundles/jquery")
<link href="@Server.MapPath("~/Content/bootstrap.min.css")" rel="stylesheet" />
@{
    Layout = null;
}

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
<!DOCTYPE html>

<html>
<head>
    <title>_Relatorio</title>

    <style type="text/css">
        table tr {
            page-break-inside: avoid !important;
        }

    </style>
</head>
<body>
    <div> 
        @RenderBody()
    </div>
</body>

</html>
